<% provide(:title, 'Sign up') %>
<% provide(:button_text, 'Create my account') %>
<% provide(:url, signup_path) %>

<div class="mx-auto col-12 col-md-10 col-lg-8">

  <h1 class="text-center my-4">Sign up</h1>

  <%= render 'users/form' %>

  <p class="my-2">Already have an account? <%= link_to "Log in.", login_path %></p>

</div>