<footer class="footer">
  <small>
    The <a href="https://www.theodinproject.com/courses/ruby-on-rails/lessons/authentication" target="_blank" rel="noopener">Project: Members-only!</a>
    by <a href="https://github.com/AlexRobi" target="_blank" rel="noopener">Alexis Robillart</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>